body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

.my-button {
    font-size: 20px;
    background-color: yellow;
    color: black;
}
nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}
 
a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 500px;
}
.profile-button {
  background-color: yellow;
  color: black;
  font-size: 1.5rem;
  padding: 50px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.profile-button:hover {
  background-color: orange;
  cursor: pointer;
}
